/* * { border: 1px solid black; }  */
.about-me-background {
  background-color: #fff6f6;
  background-image: url("../pages/images/background9.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.about-me-heading {
  font-family: "Amatic SC", cursive;
  font-size: 3em;
  text-align: center;
  color: #b03235;
}
.about-me-subheading1 {
  color: #923b06;
  font-family: "Raleway", sans-serif;
}
.about-me-text {
  font-family: "Raleway", sans-serif;
  color: #541b07;
  font-size: 16px;
}
#profilePic {
  width: 250px;
  padding: 60px;
}
.profile {
  background-image: url("../pages/images/indian-pic1.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 250px;
}

.navBar {
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
  margin-bottom: 0;
}

.navLinks {
  list-style: none;
  display: flex;
  font-family: "Amatic SC", cursive;
  font-size: 1.5em;
  margin-top: 0;
}

.navItem a {
  text-decoration: none;
  /* color: #D2143E; */
  color: #bf0306;
  padding: 15px 10px;
  display: inline-block;
  font-size: 1.2em;
}
.navItem a:hover {
  color: #e51212;
}

#quoteSection {
  text-align: center;
  font-family: "Amatic SC", cursive;
  color: #b03235;
  font-size: 1.8em;
}

.page-break {
  display: flex;
  justify-content: center;
  margin-bottom: 75px;
}
#pageBreak {
  width: 10%;
}
.img-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

#orangecat-image {
  width: 45px;
}
.footer {
  text-align: center;
  font-family: "Raleway", sans-serif;
  color: #541b07;
}
.interests {
  background-color: #fff6f6;
  background-image: url("/pages/images/background8.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hobbies {
  text-align: center;
  font-family: "Amatic SC", cursive;
  font-size: 3em;
  color: #b03235;
}
.card-holder1 {
  margin: 30px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.card1 {
  width: 200px;
  margin: 10px;
}
img {
  width: 100%;
}

.diff-background {
  background-color: lightblue;
  background-image: url("../pages/images/background3.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#resumeCardBody {
  padding: 10px;
}

.card-title {
  color: #b54407;
  font-family: "Amatic SC", cursive;
  font-size: 1.7em;
  text-align: center;
  margin-top: 10px;
}

#resumeCards {
  color: #66541b;
  font-size: 1.2em;
  font-family: "Raleway", sans-serif;
  margin-top: -50px;
}

.resume-text {
  color: #66541b;
  font-family: "Raleway", sans-serif;
  text-align: center;
  margin-top: -25px;
}
#resumeContent {
  color: #541B07;
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  margin-bottom: 25px;
}
#educationContent {
  margin-bottom: 0;
}
.resume-button {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
#buttonResume {
  border-radius: 15px;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  background-color: #b4c198;
  border: 2px solid black;
  width: 150px;
  height: 35px;
  cursor: pointer;
}
.mainHeading {
  font-family: "Amatic SC", cursive;
  font-size: 3em;
  text-align: center;
  color: #b03235;
  margin-left: 50px;
  margin-bottom: 50px;
}
.resume-subheading1 {
  text-align: center;
  color: #923b06;
  font-family: "Raleway", sans-serif;
  margin-left: 50px;
  margin-top: 50px;
  margin-bottom: 30px;
}
.resume-subheading2 {
  text-align: center;
  color: #923b06;
  font-family: "Raleway", sans-serif;
  margin-left: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  
}
.container {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.form-container {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border-radius: 15px;
  padding: 40px;
  display: flex;
  justify-content: center;
}
.myForm {
  font-family: "Raleway", sans-serif;
  font-size: 1.1em;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.form-element {
  margin: 20px auto;
  border: 1px solid black;
  font-size: 1.1em;
  width: 60%;
}
.labels {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  font-family: "Raleway", sans-serif;
  color: #541b07;
  font-size: 16px; 

}
#contact-me {
  text-align: center;
  font-family: "Amatic SC", cursive;
  color: #b03235;
  font-weight: bold;
  font-size: 3em;
  padding: 20px;
}
.contact-background {
  background-color: #d3c4b6;
  background-image: url("../pages/images/pinkflower.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.contact-info {
  text-align: center;
  font-family: "Raleway", sans-serif;
  color: #541b07;
  font-size: 16px;
}
#submit-button {
  background-color: #b4c198;
  width: 150px;
  height: 35px;
  border-radius: 15px;
  border: 2px solid black;
  font-size: 15px;
  font-family: "Raleway", sans-serif;
  cursor: pointer;
}

.card-holder {
  margin: 30px;
  padding: 10px;
  display: none;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  width: 500px;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.button-div {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
#seeplaces {
  background-color: #b4c198;
  width: 150px;
  height: 35px;
  border-radius: 20px;
  border: 2px solid black;
  font-size: 15px;
  font-family: "Raleway", sans-serif;
  cursor: pointer;

}
  
.places-text {
  text-align: center;
  padding: 40px;
}
.travel-text {
  font-family: "Raleway", sans-serif;
  color: #541b07;
  font-size: 20px;
}
img {
  width: 100%;
  object-fit: cover;
}

.card-text {
  margin-top: -3px;
  padding: 10px;
  text-align: center;
  font-family: "Amatic SC", cursive;
  font-size: 1.5em;
  color: #b03235;
}
.places-header1 {
  text-align: center;
  color: #b03235;
  font-size: 3em;
  font-family: "Amatic SC", cursive;
  margin-top: 20px;
}
.places-background {
  background-color: #fff6f6;
  background-image: url("../pages/images/aged-paper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#carouselExampleCaptions {
  width: 32%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
}

.carousel-img {
  width: 500px;
  height: 400px;
}
.carousel-text {
  color: black;
}
