
/* * { border: 1px solid black; } */
.about-me-background {
  background-color: #FFF6F6;
  background-image: url("../pages/images/nissa-fish2.jpeg"); 
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; 

}
.about-me-heading {
  font-family: 'Amatic SC', cursive;
  font-size: 50px;
  text-align: center;
  color: #553642;
}
.about-me-text { 
  font-family: 'Raleway', sans-serif;
  color: #302219;
  font-size: 16px;
}
.logoDiv {
  width: 10%;
}
.logoDiv img {
  width: 50%;
  margin: 8px 8px 8px 8px;
  border: 1px solid #009999;
}
.navBar {
  /* background-color: #E3E4DF; */
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
  
}
.navLinks {
  list-style: none;
  display: flex;
  font-family: 'Amatic SC', cursive;
  font-size: 1.5em
  /* font-family: 'Raleway', sans-serif;; */
}
.navItem:hover{
  /* background-color: white; */
}
.navItem a {
  text-decoration: none;
  color: #885463;
  padding: 15px 10px;
  display: inline-block;
  font-size: 1.2em;
}
.navItem a:hover{
  color: #DD7E75;
}
.hobbies {
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-size: 2.5em;
  color: #553642;
}
.card-holder1 {
  margin: 30px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  
}
.card1 {
  width: 200px;
  margin: 10px;
}
img {
  width: 100%;
}
.card-text1 {
  padding: 10px;
  background-color: #FFE4E1;
  text-align: center;
  font-family:'Raleway', sans-serif;
}
.diff-background {
  background-color: lightblue;
  background-image: url("../pages/images/nissa-florals2.jpeg"); 
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; 
}

#workExp1{
  font-family:'Raleway', sans-serif;
  border: 3px solid sienna;
  border-radius: 10px
}
#workExp2{
  font-family: 'Raleway', sans-serif;
  border: 3px solid olive;
  border-radius: 10px
}
#workExp3{
  font-family: 'Raleway', sans-serif;
  border: 3px solid coral;
  border-radius: 10px
  
}
.jobHeading {
  color: maroon;
  font-weight: bold;
  font-size: 1.5em
}
.mainHeading {
  font-family: 'Amatic SC', cursive;
  font-size: 3em;
  text-align: center;
  color: #2F4F4F;
}
.container {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}
article {
  margin-bottom: 30px;
  padding: 20px;
}
header {
  text-align: center;
}
.myForm {
  display: flex;
    flex-direction: column;
}
.form-container {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  border: 2px solid black;
  border-radius: 15px;
  background-color: #FFFFE0;
  padding: 40px;
}
.form-element {
  margin: 20px;
  border: 1px solid black;
  font-size: 1.5em;
  width: 60%
}
#contact-me {
  text-align: center;
    color: #008080;
  font-weight: bold;
  font-size: 2.5em;
  padding: 30px;
}
#submit-button {
  background-color: #66CDAA ;
  color: white;
  width: 30%;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
}
.labels {
  margin-left: 20px;
 
}

.card-holder {
  margin:30px;
  padding:10px;
  display:none;
  flex-direction:row;
  justify-content:space-around;
  flex-wrap: wrap;
}

.card {
  width: 500px;
  margin:10px;
}
.button-div {
  display: flex;
  justify-content: center;
  margin-top: 200px;
}
#seeplaces{
  width: 200px;
  height: 45px;
  border-radius: 15px;
  background-color: #ff9980;
  font-size: 1.5em;
  Font-family: 'Raleway', sans-serif;
}
img {
  width: 100%;
  object-fit: cover;
}

.card-text {
  margin-top:-10px;
  padding: 10px;
  background-color: #ffccff;
  text-align:center;
}
.places-header1 {
  text-align: center;
    color: #ff5c33;
  font-size: 2.5em;
  Font-family: 'Raleway', sans-serif;
}
